<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <% if @user_video.video_url.present? %>
    <%= video_tag(@user_video.transcoded_video_url.to_s, :controls => true) %>
  <% end %>

</p>

<%= link_to 'Edit', edit_user_video_path(@user_video) %>
<%= link_to 'Back', user_videos_path %>
