<%= form_with(model: content_video, local: true) do |form| %>
  <% if content_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_video.errors.count, "error") %> prohibited this content_video from being saved:</h2>

      <ul>
      <% content_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
